@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

//NULLS
*{
	margin: 0;
	padding: 0;
	border: 0;
}

*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active{outline: none;}

a:focus, a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}
//************************************************************//

//VARS
$marineBlue: hsl(213, 96%, 18%);
$marineBlueHove: #174a8b;
$purplishBlue: hsl(243, 100%, 62%);
$purplishBlueHover: #938cfe;
$pastelBlue: hsl(228, 100%, 84%);
$lightBlue: hsl(206, 94%, 87%);
$strawberryRed: hsl(354, 84%, 57%);

$coolGray: hsl(231, 11%, 63%);
$lightGray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);



body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    background-color: $magnolia;
}


.multistep {
    display: flex;
    align-items: center;
    height: 100vh;

    // .milti-step__container
    &__container {
        margin: 0 auto;
        width: 940px;
        height: 600px;
    }

    // .milti-step__content
    &__content {
        display: flex;
        background-color: $white;
        border-radius: 10px;
        padding: 15px 0 15px 15px;
        width: 100%;
        height: 100%;
        box-shadow: 1px 4px 10px 0 rgba(66, 66, 66, 0.5);
    }

    // .milti-step__sidebar
    &__sidebar {
        flex: 0 0 275px;
    }
         
    // .multistep__main-block
    &__main-block {
        flex: 1 1 auto;
        height: 100%;
        padding: 42px 100px 17px 98px;
        display: flex;
        flex-direction: column;
    }

    // .multistep__main-steps
    &__main-steps {
        flex-grow: 1;
    }

    // .multistep__buttons
    &__buttons {
        display: flex;
        justify-content: space-between;
    }
}
.sidebar {
    border-radius: 12px;
    padding: 40px 30px;
    background-image: url('./images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;

    // .sidebar__steps
    &__steps {
        list-style: none;
        display: flex;
        flex-direction: column;
        row-gap: 31px;
    }

    // .sidebar__step
    &__step {
        display: flex;
        column-gap: 15px;
    }

    // .sidebar__step-circle
    &__step-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
        border: 1px solid $lightGray;
        border-radius: 50%;
        color: $lightGray;
        font-size: 14px;
        font-weight: 700;
        transition: all 0.3s ease-in-out;

        &_active {
            background-color: $lightBlue;
            color: $marineBlue;            
        }
    }

    // .sidebar__step-text
    &__step-text {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
        text-transform: uppercase;
    }

    // .sidebar__step-name
    &__step-name {
        color: $coolGray;
        font-size: 12px;        
    }

    // .sidebar__step-title
    &__step-title {
        color: $alabaster;
        font-size: 14px;        
        font-weight: 700;  
        letter-spacing: 1px;
    }
}

.steps {
    // .steps__step2
    &__step{
    }

    // .steps__head
    &__head {
    }

    // .steps__header
    &__header {
    }

    // .steps__subheader
    &__subheader {
        margin-top: 16px;
    }

    // .steps__body
    &__body {
        margin-top: 42px;
    }
}

.header-step {
    color: $marineBlue;
    font-size: 32px;
    line-height: 1;
    font-weight: 700;
}

.subheader-step {
    color: $coolGray;
    font-size: 16px;
}

.personal-info {
    display: flex;
    flex-direction: column;

    // .personal-info__head
    &__head {
        display: flex;
        justify-content: space-between;
    }

    // .personal-info__label
    &__label {
        color: $marineBlue;
        font-size: 14px;
    }

    // .personal-info__error
    &__error {
        display: none;
        color: $strawberryRed;
        font-size: 14px;
        font-weight: 700;

        &_show{
            display: block;
        }
    }

    // .personal-info__input
    &__input {
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 23px;
        padding: 13px 20px 16px 16px;
        border-radius: 10px;
        border: 1px solid $lightGray;
        color: $coolGray;
        font-size: 16px;
        color: $marineBlue;
        font-weight: 500;
        transition: all 0.3s ease-in-out;

        &:last-child{
            margin-bottom: 0;
        }
        &::placeholder{
            color: $coolGray;
            font-weight: 400;     
        }
        &:focus{
            border-color: $marineBlue;
        }

        @media (any-hover: hover){
            &:hover{
                border-color: $purplishBlue;
            }
        }

        &_error{
            border-color: $strawberryRed;
        }
    }
}


.step {
    // .step__plans
    &__plans {
        display: flex;
        flex-direction: row;
        column-gap: 18px;
    }

    // .step__plans-toggle
    &__plans-toggle {
        margin-top: 33px;
    }
}
.plan {
    flex: 0 1 33.333%;   

    // .plan_radio
    &__radio{
        display: none;
        appearance: none;

        &:checked + label{
            border-color: $purplishBlue;
            background-color: $alabaster;
        }
    }

    // .plan__label
    &__label{
        cursor: pointer;
        display: flex;
        flex-direction: column;        
        border: 1px solid $coolGray;    
        padding: 20px 15px;
        border-radius: 7px;
        background-color: $white;
    }

    // .plan__ico
    &__ico {
        width: 40px;
        height: 40px;

        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    //.plan__body
    &__body{
        display: flex;
        flex-direction: column;
        margin-top: 45px;
    }

    // .plan__title
    &__title {
        color: $marineBlue;
        font-size: 16px;
        font-weight: 700;
    }

    // .plan__price
    &__price {
        color: $coolGray;
        margin-top: 12px;
        font-size: 16px;
    }

    // .plan__gift
    &__gift {
        margin-top: 12px;
        color: $marineBlue;
        font-size: 14px;
        font-weight: 500;
        &_hide{
            display: none;
        }
    }
}
.plan-toggle {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    justify-content: center;
    padding: 14px 0;
    background-color: $alabaster;
    border-radius: 10px;

    // .plan-toggle__duration
    &__duration{
        display: none;

        & + .plan-toggle__title{
            color: $marineBlue;
        }

        &:checked{
            & + .plan-toggle__title{
                color: $coolGray;
            }
            & + .plan-toggle__title ~ .plan-toggle__title{
                color: $marineBlue;
            }

            & ~ .plan-toggle__body::before{
                left: 24px;
            }
        }
    }

    // .plan-toggle__title
    &__title {
        cursor: pointer;
        color: $coolGray;
        font-weight: 500;
        transition: color 0.3s ease-in-out;
    }

    // .plan-toggle__body
    &__body {
        cursor: pointer;
        position: relative;
        width: 40px;
        height: 20px;
        border-radius: 10px;
        background-color: $marineBlue;

        &::before{
            content: '';
            position: absolute;
            left: 4px;
            top: 4px;
            width: 12px;
            height: 12px;            
            background-color: $white;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
        }
    }
}

.add-on {
    display: flex;
    flex-direction: column;

    // .add-on__checkbox
    &__checkbox{
        display: none;
        &:checked + .add-on__label {
            border-color: $purplishBlue;
            background-color: $alabaster;
        }
        &:checked + .add-on__label > .add-on__checkbox-mod {
            background-color: $purplishBlue;
            border-color: transparent;
        }
        
        /* &:checked + .add-on__label > .add-on__checkbox-mod::before {
            background-color: $purplishBlue;
            border-color: transparent;
        } */
    }

    // .add-on__label
    &__label {
        cursor: pointer;
        display: flex;        
        flex-direction: row;
        align-items: center;
        column-gap: 24px;
        padding: 20px 24px;
        border: 1px solid $lightGray;
        border-radius: 7px;
        background-color: $white;
        transition: all 0.3s ease-in-out;

        &:not(:last-child) {
            margin-bottom: 17px;
        }

        @media (any-hover: hover){
            &:hover{
                border-color: $purplishBlue; 
                background-color: $alabaster;
            }
        }

    }
    // .add-on__checkbox-mod
    &__checkbox-mod {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        border: 1px solid $lightGray;        
        background-color: transparent;
        transition: all 0.3s ease-in-out;

    }

    // .add-on__text
    &__text {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        row-gap: 6px;
    }

    // .add-on__title
    &__title {
        color: $marineBlue;
        font-weight: 500;
        font-size: 16px;
    }

    // .add-on__subtitle
    &__subtitle {
        color: $coolGray;
        letter-spacing: -1px;
        font-size: 16px;
    }

    // .add-on__price
    &__price {
        color: $purplishBlue;
        font-size: 14px;
    }
}

/******************Step 4 **************************/
.finishing {
    display: flex;
    flex-direction: column;

    // .finishing__services
    &__services {
        background-color: $alabaster;
        border-radius: 10px;
        padding: 21px 26px 21px 23px;
    }

    // .finishing__plan
    &__plan {
        display: flex;
        flex-direction: row;
        justify-content: space-between;        
        align-items: center;
        color: $marineBlue;
        font-weight: 700;
        padding-bottom: 25px;
        border-bottom: 1px solid $coolGray;
    }

    // .finishing__plan-title
    &__plan-title {
        display: flex;
        flex-direction: column;
    }

    // .finishing__plan-contain
    &__plan-contain {
    }

    // .finishing__plan-name
    &__plan-name {
    }

    // .finishing__plan-period
    &__plan-period {
    }

    // .finishing__plan-link
    &__plan-link {
        color: $coolGray;
        margin-top: 7px;
        font-weight: 400;
        letter-spacing: -1px;
        text-decoration: underline;
        transition: color 0.3s ease-in-out;

        @media (any-hover: hover){
            &:hover{
                text-decoration: underline;
                text-decoration-thickness: 10%;
                color: $purplishBlue;
            }
        }
    }

    // .finishing__plan-price
    &__plan-price {
    }

    // .finishing__addons
    &__addons {
        padding-top: 20px;
        font-size: 14px;        
    }

    // .finishing__addon
    &__addon {
        display: flex;
        justify-content: space-between;
        
        &:not(:last-child){
            margin-bottom: 22px;
        }
    }

    // .finishing__addon-name
    &__addon-name {
        color: $coolGray;
    }

    // .finishing__addon-price
    &__addon-price {
        color: $marineBlue;
    }

    // .finishing__total
    &__total {
        display: flex;
        justify-content: space-between;        
        align-items: center;
        padding: 30px 25px;
    }

    // .finishing__total-title
    &__total-title {
        color: $coolGray;
        letter-spacing: -1px;
    }

    // .finishing__total-name
    &__total-name {        
    }

    // .finishing__total-price
    &__total-price {
        color: $purplishBlue;
        font-size: 21px;
        font-weight: 700;
    }
}

/****************Step 5*************************************/
.final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    // .final__ico
    &__ico {
    }

    // .final__title
    &__title {
        color: $marineBlue;
        font-size: 32px;
        font-weight: 700;
        margin-top: 35px;
    }

    // .final__subtitle
    &__subtitle {
        color: $coolGray;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        margin-top: 16px;
    }
}
/***********************************************************/

.btn {
    border-radius: 10px;
    padding: 17px 27px;
    cursor: pointer;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;

    // .btn__back
    &_back {
        background-color: transparent;
        padding: 17px 0;
        color: $coolGray;
        font-weight: 700;
    }

    // .btn__next
    &_next {
        display: none;
        background-color: $marineBlue;        
        color: $white;  
        transition: background-color 0.3s ease-in-out;

        @media (any-hover: hover){
            &:hover{
                background-color: $marineBlueHove;
            }
        }      
    }

    // .btn__confirm
    &_confirm {
        display: none;   
        background-color: $purplishBlue;        
        color: $white; 
        font-weight: 50;
        transition: all 0.3s ease-in-out;

        @media (any-hover: hover){
            &:hover{
                background-color: $purplishBlueHover;
            }
        }
    }

    //.btn_show
    &_show{
        display: block;
    }

    // .btn_invisible
    &_invisible{
        visibility: hidden;
    }
}


.step_hide{
    display: none;
}


.attribution {
    font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}